.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.navbar-left {
  display: flex;
  align-items: center;
}



.logo-icon {
  height: 40px;
  margin-right:6px;
}

.logo-name {
  height: 30px;
}

.online-indicator {
  font-size: 14px;
  font-weight: 500;
}

.online {
  color: #28a745;
}

.offline {
  color: #dc3545;
}

